.shopping-cart {
    left: 30px;
    bottom: 100px;
    z-index: 9999;
    position: fixed;
    box-shadow: 0 5px 4px 0 rgba(5, 48, 103, 0.55);
    width: 450px;
    background: #fff;
}

.shopping-cart .items {
    max-height: 300px;
    overflow: auto;
    padding: 5px;
    margin-top: 10px;
}

.shopping-cart .items .box {
    display: flex;
    position: relative;
    box-shadow: 0 3px 5px rgb(0 0 0 / 0.2);
}

#checkoutButton {
    background: #f15418;
}

#checkoutButton:hover {
    font-weight: bold;
    box-shadow: 0 14px 28px rgba(5, 48, 103, 0.25), 0 10px 10px rgba(5, 48, 103, 0.22) !important;
    transform: translate(0px, -4px);
}

@media (max-width: 425px) {
    .shopping-cart {
        width: 380px;
    }
}